ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

li.chat-msg {
  width: 250px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 3px solid #ffa700;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 8px 0px;
  font-weight: bold;
  animation: 0.5s ease-out 0s 1 slideInFromRight;
  -webkit-animation: 0.5s ease-out 0s 1 slideInFromRight;
  word-wrap: break-word;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h5 > span {
  color: #fff;
}
