ul {
  list-style: none;
}

li.chat-msg {
  width: 250px;
  padding: 5px 8px;
  border-radius: 8px;
  border: 3px solid #ffa700;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 8px 0px;
  font-weight: bold;
}

h5 > span {
  color: #fff;
}
